@using Shared.Models
@model RegistrationLink

<h2>Register</h2>

<form method="post">
    <input name="firstname" placeholder="FirstName" />
    <input name="lastname" placeholder="LastName" />
    <input name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
    <button>Submit</button>
</form>