@{
    Layout = "_Layout";
}

<h2 class="mt-3">Passwort aktualisiert</h2>

<div class="card mt-3 shadow-sm">
    <div class="card-body">
        <div class="alert alert-success mb-0">
            Dein Passwort wurde erfolgreich aktualisiert. Du kannst dieses Fenster nun schließen.
        </div>
    </div>
</div>
