<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="card shadow-sm">
            <div class="card-body">

                <h4 class="mb-3">Admin Login</h4>

                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">@TempData["Error"]</div>
                }

                <form method="post" asp-action="Login">
                    <input name="username" class="form-control mb-2" placeholder="Username" />
                    <input type="password" name="password" class="form-control mb-3" placeholder="Password" />

                    <button class="btn btn-primary w-100">Login</button>
                </form>

            </div>
        </div>

    </div>
</div>